html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #848484;
  line-height: 25px;
  letter-spacing: 0.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
.navbar {
  padding: 0;
}
a:hover,
a:focus {
  text-decoration: none;
}
button:focus,
input:focus {
  outline: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
h2 {
  font-weight: 500;
  font-size: 36px;
}
h3 {
  color: #626262;
  font-size: 22px;
  font-weight: 500;
}
p {
  line-height: 1.9;
}
.ptb-100 {
  padding: 100px 0;
}
.mrl-50 {
  margin-left: 50px;
}
.diplay-table {
  display: table;
  width: 100%;
  height: 100%;
}
.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.section-title h2 {
  margin: 0 0 25px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.section-title {
  position: relative;
  z-index: 1;
  margin-bottom: 5px;
}
.section-title p {
  text-align: center;
}
.section-title-bg {
  color: #f0f0f0;
  font-size: 100px;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  font-family: cursive;
  text-transform: uppercase;
  text-align: center;
}
.button,
.center-wrap button button {
  position: relative;
  display: block;
  background: none center center no-repeat;
  background-size: cover;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 10px 4px;
  text-align: center;
  max-width: 180px;
  min-width: 170px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: border 1s cubic-bezier(0.19, 1, 0.22, 1),
    color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: border 1s cubic-bezier(0.19, 1, 0.22, 1),
    color 0.6s cubic-bezier(0.19, 1, 0.22, 1),
    background 5s cubic-bezier(0.19, 1, 0.22, 1);
}
.button a,
.center-wrap button {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  background: transparent;
  border: transparent;
}
button {
  padding: 0;
}
.button .mask {
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}
.button .mask {
  position: absolute;
  display: block;
  width: 200px;
  height: 100px;
  -webkit-transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  -ms-transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  -webkit-transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.button:hover {
  border-color: #fff;
}
.button:hover a {
  color: #fff;
}
.button:hover .mask {
  background: #fff;
  -webkit-transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
  -ms-transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
  transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}
.btn-a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  background: transparent;
  border: transparent;
}
.btn-a:hover {
  color: #fff;
}
.plan .btn-a {
  color: #272727;
}
.featured .btn-a {
  color: #fff !important;
}
.plan .button {
  background-color: transparent;
  margin: auto;
  margin-top: 40px;
}
.plan.featured .button {
  margin: auto;
  margin-top: 40px;
}
.plan.featured .button a {
  color: #fff;
}
.all-post .button {
  margin: 50px auto 0;
}
.all-post .button a {
  color: #fff;
}
.all-post .button a:hover {
  color: #fff;
}
/* =========================
       End Default CSS
      ========================= */

/* =========================
       Top Header CSS
      ========================= */
.top-header {
  background-color: #eeeeee;
  color: #848484;

  height: 30px;
}
.glyph i {
  font-size: 60px;
}
.address-bar {
  background-color: #eee;
  margin-left: 104px;
}
.address-bar ul li a {
  color: #9a9a9a;
  font-size: 14px;
}
.social-icons {
  text-align: right;
}
.social-icons ul li a {
  display: block;
  width: 25px;
  height: 25px;
  color: #9a9a9a;
  border-radius: 50%;
  text-align: center;
  line-height: 27px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.social-icons ul li a:hover {
  color: #fff;
}

/* Navbar Style */
.navbar-light {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  background-color: #c0c2c7 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;

  text-transform: uppercase;
  cursor: pointer;
}


.navbar-light .navbar-nav {
  width:70%;
  margin-left: 60%;
}
.navbar-light .navbar-nav .nav-item {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff !important;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff !important;
  background: none;
}
.navbar-light.fixed-top,
.search-modal,
.home-video-area::before,
.owl-thumb-item.active .slide-service-item,
.owl-thumb-item:hover .slide-service-item {
  color: #fff;
}
.fixed-top {
  z-index: 99 !important;
}
.navbar-light.fixed-top,
.search-modal,
.home-video-area::before,
.owl-thumb-item.active .slide-service-item,
.owl-thumb-item:hover .slide-service-item {
  color: #fff !important;
}
.navbar-light .navbar-brand {
  position: absolute;
  top: -50px;
  z-index: 9999;
  padding: 0;
}
.navbar-brand img {
  cursor: pointer;
  height: 250px;
}

/* End Navbar Style */

/* VIDEO-AREA */
.home-video-area {
  height: 700px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.home-video-area::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.7;
  left: 0;
  top: 0;
}
.home-video-area h1 {
  font-size: 51px;
  margin: 0 0 30px;
}
.home-video-area .center-wrap {
  margin-top: 40px;
}
.home-video-area video {
  min-width: 100%;
  min-height: 100%;
}
.video-text-area {
  position: absolute;
  top: 50%;
  color: #fff;
  max-width: 1170px;
  margin: auto;
  left: 0;
  right: 0;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
}
/* END VIDEO-AREA */

/* =========================
   Services Area CSS
   ========================= */
.services {
  background-color: #fff;
  margin-top: 50px;
}
.service-item {
  background-color: #f5f8f9;
  padding: 25px;
  margin-top: 30px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.service-item:hover {
  background-color: #fff;
}
.service-item p {
  margin: 0;
}
.service-item h3 {
  margin-bottom: 15px;
}
.section-title p {
  margin: 0 0 30px;
}
.glyph {
  display: block;
}
.glyph .glyph-icon::before {
  font-size: 64px;
  margin-left: 0;
  display: block;
  line-height: 1;
}
/* =========================
       End Services Area CSS
      ========================= */

/* =========================
       Our Works Area CSS
      ========================= */
.filter-item {
  padding-top: 30px;
}
.filter-menu {
  margin-top: 30px;
  position: relative;
  text-align: center;
  z-index: 5;
}
.filter-menu button {
  display: inline-block;
  cursor: pointer;
  background-color: #eee;
  padding: 7px 15px;
  text-transform: uppercase;
  border: none;
  margin: 0 2px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.filter-menu button.programs-filter-btn-active,
.filter-menu button:hover {
  color: #fff;
}
.activity-details {
  background: #fff;
  text-align: center;
  position: relative;
  margin-top: 30px;
}
.activity-details img {
  width: 100%;
  height: auto;
  transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
}
.activity-details:hover img {
  opacity: 0.5;
}
.activity-details .box-content {
  padding: 30px 10px 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
}
.activity-details:hover .box-content {
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  opacity: 0.9;
}
.activity-details .title {
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 17px;
  margin: 5px 0;
  position: absolute;
  bottom: 55%;
}
.activity-details .icon {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 22px;
  position: absolute;
  top: 50%;
}
.activity-details .icon li {
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
}
.activity-details:hover .icon li {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
}
.activity-details:hover .icon li:first-child {
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
}
.box:hover .icon li:nth-child(2) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}
.activity-details .icon li span {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
}
.activity-details .span :hover {
  background: #fff;
}
#Container .mix {
  display: none;
}
/* =========================
       End Our Works Area CSS
      ========================= */

/* =========================
       Our club Area CSS
      ========================= */
.our-club {
  margin-top: 50px;
}
.club-box {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}
.club-box:before {
  content: "";
  display: block;
  border: 30px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  opacity: 1;
  z-index: 2;
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
}
.club-box:hover:before {
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.club-box:after {
  content: "";
  display: block;
  border: 10px solid rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 35px;
  left: 35px;
  bottom: 35px;
  right: 35px;
  opacity: 1;
  z-index: 1;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 1s ease 0s;
}
.club-box:hover:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.club-box img {
  width: 100%;
  height: 350px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
}
.club-box img :hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
.club-box .box-content {
  padding: 20px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 45px;
  left: 45px;
  bottom: 45px;
  right: 45px;
  opacity: 1;
  z-index: 2;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.club-box:hover .box-content {
  top: 6px;
  left: 6px;
  bottom: 6px;
  right: 6px;
  color: #fff;
}
.club-box .box-inner-content {
  width: 100%;
  padding-bottom: 20px;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  color: #fff;
}
.club-box:hover .box-inner-content {
  opacity: 1;
}
.club-box .title {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  background: #2d3645;
  margin-bottom: 3px;
}

.club-box .post {
  display: block;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
  background-color: #2d3645;
}
.club-box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
}
.club-box .icon li {
  display: inline-block;
}
.club-box .icon li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #2d3645;
  color: #fff !important;
  margin-right: 10px;
  font-size: 18px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

.club-box .icon li a:hover {
  color: #fff !important;
  border-radius: 50%;
}
.club-slides .owl-nav {
  position: relative;
}
.club-slides .owl-nav div {
  font-size: 40px !important;
  opacity: 0.8;
  position: absolute;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
}
.club-slides.owl-theme .owl-nav [class*="owl-"] {
  left: 0;
  right: 0;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
.club-slides .owl-nav div:hover {
  opacity: 1;
  color: #848484;
}
.club-slides .owl-nav .owl-prev {
  left: 0;
  background-color: transparent !important;
  top: 0;
}
.club-slides .owl-nav .owl-next {
  top: 0;
  background-color: transparent !important;
  right: 0;
}
/* =========================
       End Our Team Area CSS
      ========================= */

/* =========================
       Customers & News Area CSS
      ========================= */
.our-customers {
  background-color: #f5f8f9;
}
.customers-item {
  margin-top: 30px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  overflow: hidden;
}
.customers-item:hover {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(254, 86, 25, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(254, 86, 25, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(254, 86, 25, 0.3);
}
.customers-item .customers-img {
  display: block;
  overflow: hidden;
}
.customers-item .customers-img img {
  width: 100%;
  height: auto;
  transform: scale(1.1);
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
}
.customers-item .customers-img:hover img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
.customers-info {
  position: relative;
  padding-left: 135px;
}
.date-box {
  position: absolute;
  left: 20px;
  top: -53px;
  color: #fff;
  padding: 30px 24px 30px;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.month {
  display: block;
  margin-top: 11px;
  font-size: 20px;
  font-weight: 400;
}
.title-meta h2 {
  line-height: 25px;
}
.title-meta h2 a {
  font-size: 24px;
  color: #626262;
  margin-top: 10px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.post-meta {
  font-size: 12px;
}
.post-meta ul li {
  display: inline-block;
  padding-right: 5px;
}
.post-meta ul li a {
  color: #848484;
  font-weight: 600;
  font-size: 12px;
}
.title-meta {
  vertical-align: bottom;
}
.post-content {
  padding: 20px;
}
.main-customers {
  padding: 70px 0 90px;
}

.side-widget {
  margin-top: 30px;
}
.side-widget h3 {
  margin: 0 0 20px;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  padding-bottom: 15px;
}
.side-widget h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 40px;
}
.search-form {
  position: relative;
}
.search-form .form-control {
  border-radius: 0;
  height: 42px;
}
.search-form .btn-default {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  height: 42px;
  color: #fff;
  padding: 5px 15px;
  font-size: 16px;
}
.side-widget .list-group li {
  border-radius: 0;
  padding: 0;
}
.side-widget .list-group li a {
  border-radius: 0;
  color: #333;
  padding: 8px 15px;
  display: block;
}
.single-post {
  position: relative;
  padding: 0 0 0 90px;
  margin-top: 15px;
  min-height: 75px;
}
.single-post img {
  position: absolute;
  left: 0;
  top: 0;
  width: 75px;
  height: 75px;
  border-radius: 3px;
}
.single-post h4 {
  margin: 0 0 5px;
  font-size: 16px;
}
.single-post h4 a {
  color: #626262;
}

.list-tags li {
  display: inline-block;
  margin-bottom: 2px;
}
.list-tags li a {
  background: #f5f5f5;
  color: #333;
  display: inline-block;
  padding: 3px 10px;
}
.list-tags li a:hover {
  color: #fff;
}
.post-img img {
  width: 100%;
}
.customers-details {
  margin-top: 30px;
}
.customers-details .date-box {
  padding: 23px 24px 20px;
}
.customers-details .title-meta h2 {
  font-size: 24px;
  color: #626262;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.customers-details .post-content p {
  margin-bottom: 20px;
  line-height: 26px;
}
.sharing-link {
  background: #fff;
  padding: 5px 15px;
  border: 1px solid #ddd;
}
.sharing-link ul li {
  display: inline-block;
  margin: 0 5px 0 0;
}
.sharing-link ul li i {
  background: #f1f1f1;
  color: #333;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  padding: 9px 9px;
  font-size: 13px;
}
.sharing-link ul li i:hover {
  color: #fff;
}
.comments-area {
  padding: 20px;
  margin-top: 10px;
}
.comments-title {
  margin: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  position: relative;
}
.comments-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 40px;
}
.single-comment {
  position: relative;
  padding: 0 0 0 100px;
  margin-top: 30px;
}
.single-comment img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
.single-comment h4 {
  margin: 0 0 5px;
  color: #000;
}
.single-comment .date {
  margin-bottom: 5px;
}
.single-comment .reply {
  position: absolute;
  right: 0;
  top: 0;
  background: #f5f5f5;
  color: #333;
  padding: 4px 15px;
  display: block;
  border-radius: 3px;
}
.single-comment .reply:hover {
  color: #fff;
}
.comments-form {
  padding: 20px;
}
.comments-form h3 {
  margin-bottom: 30px;
}
.comments-form .form-control {
  height: 42px;
}
.comments-form textarea.form-control {
  height: auto !important;
}
.comments-form .button {
  max-width: 210px;
  margin: auto;
}

/* =========================
       End Customers & News Area CSS
      ========================= */

h3,
h2 {
  margin-top: 20px;
}
.collapse.in {
  display: block;
}
.contactMsg {
  color: #2ba847;
  font-size: 18px;
}

/*
 Default: #2D3645;
 */

h2,
a:focus {
  color: #2d3645;
}
.button,
.center-wrap button button {
  border: 1px solid #2d3645;
  background-color: #2d3645;
}
.plan .button:hover {
  border-color: #2d3645;
}
.plan .button a,
.glyph i {
  color: #2d3645;
}

.plan.featured .button {
  background-color: #2d3645;
}
.social-icons ul li a:hover {
  background-color: #2d3645;
}
.navbar-light .navbar-nav .nav-item:hover,
.navbar-light .navbar-nav .nav-item:active {
  background-color: #1f2530 !important;
  color: #fff !important;
}

.owl-thumb-item i {
  color: #2d3645;
}
.navbar-light .navbar-nav .nav-link.active {
  background-color: #1f2530 !important;
  color: #fff !important;
}

.navbar-light.fixed-top,
.search-modal,
.home-video-area::before,
.owl-thumb-item.active,
.owl-thumb-item:hover {
  background-color: #2d3645;
}
.navbar-light.fixed-top {
  background-color: #2d3645 !important;
}
.filter-menu button.programs-filter-btn-active,
.filter-menu button:hover {
  background-color: #2d3645;
}
.activity-details .icon li span,
.club-slides .owl-nav div {
  color: #2d3645 !important;
}

.club-box .title,
.club-box .icon li a {
  color: #fff;
}
.club-box .icon li a:hover {
  background: #2d3645;
}
.date-box {
  background-color: #2d3645;
}
.customers-item:hover .title-meta h2 a {
  color: #2d3645;
}
/* ANCHOR  */
@media only screen and (max-width: 767px) {
  .top-header {
    display: none;
  }

  .documentation{
    margin-top: 70px;
  }
  
  .new-post {
    margin-top: 70px;
  }

  .sub-logo{
    display: inline-block;
    height:5px;
    position: absolute;
    top: -10px;
    left:35px;
    z-index: 9999;
    
  }

  .sub-logo img{
    height: 90px;
  }

  .navbar-brand img{
    display: none;
  }
  .nav-menu{
    margin-top:15px;
  }
  

  .modal-dialog {
    width: 95%;
    margin-top: -65px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    text-align: center;
  }
  .navbar-light .navbar-brand {
    position: relative;
    top: 0;
  }

  .navbar-light .navbar-toggler {
    border-color: #2d3645;
    border-radius: 0;
  }

  .address-area div {
    padding-left: 0;
    text-align: center;
  }
  .address-area i {
    position: relative;
    display: block;
    margin-bottom: 15px;
  }

  .activity-details {
    margin-top: 0;
  }
  .list-inline li {
    padding-left: 3px;
  }

  .logo img {
    width: 50px;
  }
  .address-bar {
    margin-left: auto;
    text-align: right;
  }
  .navbar-nav.ml-auto {
    float: none !important;
    margin-top: 5px;
  }
  .header-search-form form input {
    font-size: 35px;
  }

  .services {
    margin-top: 0;
  }
  .section-title-bg {
    display: none;
  }
  .ptb-100 {
    padding: 50px 0;
  }

  .date-box {
    padding: 10px 10px 3px;
    font-size: 20px;

    
  }
  .customers-info {
    padding-left: 0;
    padding-top: 30px;
    padding-right: 0;
  }
  .post-content {
    padding: 20px 0;
  }
  .comments-area {
    padding: 20px 0;
  }
  .comments-form {
    padding: 20px 0;
  }
  .title-meta h2 a {
    font-size: 18px;
  }
  .video-inner-content h1 {
    font-size: 35px;
    margin: 72px 0 15px;
  }
  .video-inner-content p {
    max-width: 415px;
  }
  .video-area {
    height: auto;
    padding: 80px 0 30px;
  }
  .service-item h3 {
    font-size: 18px;
  }
  .single-testimonial-item p {
    font-size: 16px;
  }
  .count-box h2 {
    font-size: 30px;
  }
  .content-box {
    padding: 30px 30px;
    margin-bottom: 40px;
  }
  .filter-menu {
    margin-top: 0;
  }
  .filter-menu button {
    margin-top: 3px;
  }
  .plan.featured {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    margin: 30px 0;
  }
  .section-title h2 {
    font-size: 30px;
  }

  .faq-content {
    margin-top: 0;
  }
  .content-box h3 {
    margin: 0;
  }

  .social-icons {
    text-align: center;
  }
  .footer .copyright {
    margin: 0 0 15px;
  }
  .scrolltop {
    bottom: 100px;
  }
  .bread-cumbs-area {
    padding: 40px 0 30px;
    height: 100%;
  }
  .bread-cumbs-area h1 {
    font-size: 25px;
    margin: 0 0 10px;
  }
  .main-customers {
    padding: 20px 0 40px;
  }
  .all-post .button {
    margin: 0 auto 0;
  }
  .side-widget h3 {
    font-size: 20px;
  }
  .plus {
    width: 50px;
    height: 50px;
  }
  .video-inner-content {
    margin-top: 0;
  }
  .plus:after {
    font-size: 25px;
    line-height: 53px;
  }
  .panel-title a {
    padding: 13px 55px 13px 13px;
    font-size: 15px;
  }
  .panel-body {
    padding: 15px 10px 15px;
  }
  .customers-item {
    margin-top: 0;
  }
  .customers-details .title-meta h2 {
    font-size: 20px;
    margin-top: 35px;
  }
  .comments-title {
    font-size: 20px;
  }
  .mrl-50 {
    margin-left: 0;
  }
  .home-banner-area {
    height: 100%;
    padding: 70px 0;
    margin-bottom: 20px;
  }
  .home-banner-area h1 {
    font-size: 35px;
    line-height: 50px;
  }
  .home-video-area {
    height: 600px;
  }
  .video-text-area h1 {
    font-size: 35px;
    line-height: 50px;
  }
  .feature-area {
    padding: 0;
  }
  .single-feature h3 {
    font-size: 20px;
  }
  .hero-text {
    font-size: 16px;
  }
}
/* ANCHOR  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sub-logo{
    display:none;
  }
  
  .navbar-nav{
    display: none;
  }
  .documentation{
    margin-top: 150px;
  }
  
  .new-post {
    margin-top: 150px;
  }

  .modal-dialog {
    width: 90%;
    margin-top: -60px;
  }

  .address-bar ul li a {
    font-size: 13px;
  }
  .logo > img {
    width: 70px;
  }
  .main-nav .navbar-brand {
    left: 15px;
  }
  .navbar-light .navbar-nav .nav-link {
    padding-right: 8px;
    padding-left: 8px;
  }
  .header-search {
    right: -31px;
    top: -6px;
  }

  .services {
    margin-top: 0;
  }
  .section-title-bg {
    font-size: 75px;
    top: 10px;
  }
  .service-item h3 {
    font-size: 20px;
  }
  .ptb-100 {
    padding: 70px 0;
  }

  .filter-menu {
    margin-top: 0;
  }
  .club-box .title {
    font-size: 20px;
  }

  .customers-info {
    padding-left: 15px;
    padding-top: 60px;
  }
  .date-box {
    left: 15px;
    padding: 15px 15px 5px;
    font-size: 30px;
  }
  .title-meta h2 a {
    font-size: 20px;
  }
  .video-area {
    height: 100%;
    padding: 60px 0 40px;
  }
  .video-inner-content h1 {
    font-size: 40px;
    margin: 75px 0 22px;
  }
  .count-box p {
    font-size: 20px;
  }
  .count-box h2 {
    font-size: 35px;
  }
  .faq-content {
    margin-top: 0;
  }
  .content-box h3 {
    margin: 0;
  }
  .content-box.color-effect-1 {
    margin-bottom: 50px;
  }

  .bread-cumbs-area {
    height: 100%;
    padding: 60px 0 50px;
  }
  .bread-cumbs-area h1 {
    font-size: 35px;
    margin: 0 0 12px;
  }
  .main-customers {
    padding: 20px 0 60px;
  }
  .home-banner-area {
    height: 100%;
    padding: 110px 0;
    margin-bottom: 40px;
  }
  .home-banner-area h1 {
    font-size: 40px;
  }
  .home-video-area {
    height: 600px;
  }
  .home-video-area h1 {
    font-size: 40px;
  }
  .feature-area {
    padding: 30px 0 0;
  }
  .single-feature h3 {
    font-size: 17px;
  }
}
/* ANCHOR  */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .service-item h3 {
    font-size: 20px;
  }
  .sub-logo{
    display:none;
  }
  .documentation{
    margin-top: 150px;
  }

  .new-post {
    margin-top: 150px;
  }

  .title-meta h2 a {
    font-size: 22px;
  }

  .main-customers {
    padding: 40px 0 60px;
  }
  .home-banner-area h1 {
    font-size: 45px;
  }
  .home-video-area h1 {
    font-size: 45px;
  }
  .feature-area {
    padding: 60px 0 0;
  }
  .single-feature h3 {
    font-size: 18px;
  }
  .modal-dialog {
    width: 90%;
    margin-top: -60px;
  }
}



h3 {
  margin-left: 15px;
}

.input-control {
  width: 36%;
  margin: auto;
}

#postTextArea {
  margin-bottom: 15px;
  border-color: #d3d3d3;
}

#postButton {
  color: #fff;
  margin: auto;
  margin-top: 15px;
}
.fileInput {
  border-bottom: 4px solid #d3d3d3;
  border-right: 4px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
.imgPreview {
  text-align: center;
  margin: auto;
  height: 200px;
  width: 300px;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-top: 5px solid #808080;
  border-bottom: 5px solid #808080;
  margin-bottom: 15px;
}
.imgPreview img {
  width: 100%;
  height: 100%;
}
.previewText {
  width: 100%;
  margin-top: 20px;
}
.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: #fff;
  border: 4px solid #d3d3d3;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}
.submitButton:hover {
  background: #2d3645;
  color: #fff;
}
.centerText {
  text-align: center;
}

/* side bar */

*, :before, :after {
  box-sizing: border-box;
}
.sidebar-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-unstyled a {
  text-decoration: none;
}
.sidebar-list-inline {
  overflow: hidden;
}
.sidebar-list-inline li {
  float: left;
}
.sidebar-header {
  position: fixed;
  left: 0;
  top: 200px;;
  bottom: 0;
  width: 17.5em;
  height:300px;
  background: #2d3645;
  z-index: 999;
}
.sidebar-logo {
  text-transform: uppercase;
  font: 300 2em 'Source Sans Pro', Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  color:#fff;
}
.sidebar-logo a {
  display: block;
  padding: 1em 0;
  color: #dfdbd9;
  text-decoration: none;
  transition: 0.15s linear color;
}

.sidebar-logo span {
  font-weight: 700;
  transition: 0.15s linear color;
  color: 	#FFD73E;
}
.sidebar-main-nav ul {
  border-top: solid 1px #3c3735;
}
.sidebar-main-nav li {
  border-bottom: solid 1px #3c3735;
}
.sidebar-main-nav a {
  padding: 1.1em 0;
  color: #dfdbd9;
  font: 400 1.125em 'Source Sans Pro', Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.sidebar-main-nav a:hover {
  color: #fff;
  
}


.sidebar-list-hover-slide li {
  position: relative;
  overflow: hidden;
}
.sidebar-list-hover-slide a {
  display: block;
  position: relative;
  z-index: 1;
  transition: 0.35s ease color;
}
.sidebar-list-hover-slide a:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: solid 5px #fff;
  background: #2d3645;
  transition: 0.35s ease left;
}

.sidebar-list-hover-slide a.is-current:before, .sidebar-list-hover-slide a:hover:before {
  left: 0;
}



.nav-menu i{
  color:#2d3645;
  font-size: 20px;
  
 
}
.nav-menu i:hover,
.nav-menu i:active{
  color:#fff;
  background-color: #2d3645;
  padding:5px;
  border-radius: 50%;
}

/* ANCHOR  */
@media only screen and (min-width: 1200px){
  .new-post {
    margin-top: 150px;
  }
  .documentation{
    margin-top: 150px;
  }

  .sub-logo{
    display:none;
  }
  

}

.sprintOne li{
  background-color: #2ba847;
}

.sprintTwo li{
  background-color: #FFD73E;
}

.sprintOne{
  background-color: #2ba847;
}
.sprintTwo{
  background-color: #FFD73E;
}

.reachHere{
  background-color: pink !important;
}

.documentation p, .documentation li{
  font-size:16px;
  color:black;
}
.initWord{
  font-size:25px;
  color:#2d3645;
  font-family: "Apple Chancery", "Courier New","Times New Roman";
  font-weight:bold;
}

.screen-loader .hidden{
  display: none;
}

/* =========================
    Our activities Area CSS
   ========================= */
   .filtr-item {
    padding-top: 30px;
}
.filter-menu {
	margin-top: 30px;
    position: relative;
    text-align: center;
	z-index: 5;
}
.filter-menu button {
	display: inline-block;
	cursor: pointer;
	background-color: #eee;
	padding: 7px 15px;
    text-transform: uppercase;
    border: none;
    margin: 0 2px;
    transition: .4s;
    -webkit-transition: .4s;
}
.filter-menu button.programs-filter-btn-active,  .filter-menu button:hover {
    color: #fff;
}
.activity-details{
    background: #fff;
    text-align: center;
    position: relative;
    margin-top: 30px;
}
.activity-details img{
    width: 100%;
    height: auto;
    transition: all 0.35s ease 0s;
    -webkit-transition: all 0.35s ease 0s;
}
.activity-details:hover img{ opacity: 0.5; }
.activity-details .box-content{
    padding: 30px 10px 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.35s ease 0s;
    -webkit-transition: all 0.35s ease 0s;
}
.activity-details:hover .box-content{
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    opacity: .9;
}
.activity-details .title{
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    line-height: 17px;
    margin: 5px 0;
    position: absolute;
    bottom: 55%;
}
.activity-details .icon{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 22px;
    position: absolute;
    top: 50%;
}
.activity-details .icon li{
    display: inline-block;
    opacity: 0;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transition: all 0.35s ease 0s;
    -webkit-transition: all 0.35s ease 0s;
}
.activity-details:hover .icon li{
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
}
.activity-details:hover .icon li:first-child{
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
}
.box:hover .icon li:nth-child(2){
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
}
.activity-details .icon li span{
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #fff;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    margin-right: 5px;
    transition: all 0.35s ease 0s;
    -webkit-transition: all 0.35s ease 0s;
}
.activity-details .span :hover{ background: #fff; }
#Container .mix {
    display: none;
}

.video-col video{
  width:60%;
  height:60%;
  margin: auto;
}

.video-col{
  
  width:60%;
  height:60%;

}

.description-col{
  
  text-align: center;
}

.title-col{
  text-align: center;
}

.yoga-row{
  border: #c0c2c7 1px solid;
}


 
