.home-background {
  
  z-index: -1;
 
  
  
}
.home-arrow {
  color: lightgrey;
  display: inline-block;
  margin-left: 10px;
  
  opacity: 1;
  
}
.home-arrow p{
    display: inline;
    font-family:fantasy,cursive,"Gill Sans",sans-serif;
    margin-left:10px;
}


.button-control .the-buttons {
  display: block;

  z-index: 10;
  margin-bottom: 30px;
}

.button-control img {
  width: 100px;
}

.button-control {
  position: absolute;
  top: 200px;
  left: 100px;
}

.home-pic {
  width: 100%;
  height: 100%;
}
.black-brick{
  height: 15px;
  background-color:black;
  top:0;
  width: 100%;
  position: fixed;
  z-index: 99;
  
}

.effect-button{
 
  padding-top:90px;
}

