h2, a:focus {
    color:  #2D3645;
}

.topHeader {
    background-color: #eeeeee;
    color: #848484;
    padding: 10px 0 10px;
}

.socialIcons ul li a:hover {
	background-color: #2D3645;
} 

.socialIcons.bottom ul li a {
	background-color: #1f2530;
}
.socialIcons.bottom ul li a:hover {
    color: #1f2530;
}
.socialIcons {
    text-align: right;
    
    width:30%;
    float:right;
    
}
.socialIcons ul li a {
	display: block;
	width: 25px;
	height: 25px;
	color: #9a9a9a;
	border-radius: 50%;
	text-align: center;
	line-height: 27px;
    transition: .4s;
    -webkit-transition: .4s;
}
.socialIcons ul li a:hover {
	color: #fff;
}

.socialIcons.bottom ul li a {
	width: 35px;
	height: 35px;
	color: #eee;
	line-height: 38px;
	font-size: 18px;
}
.socialIcons.bottom ul li a:hover {
	background-color: #fff;
}

.addressBar {
	background-color: #eee;
    margin-left: 104px;
    
    width:40%;
    
}
.addressBar ul li a {
	color: #9a9a9a;
	font-size: 14px;
}

.listInline li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

@media only screen and (max-width : 767px) {
    .topHeader {
        display: none;
    }

    .listInline li {
        padding-left: 3px;
    }
    

    .addressBar {
        margin-left: auto;
        text-align: right;
    }

    .socialIcons {
        text-align: center;
    }
}
@media only screen and (min-width : 768px) and (max-width : 991px) {
.addressBar ul li a {
    font-size: 13px;
}
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #848484;
    line-height: 25px;
    letter-spacing: .5;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

a:hover, a:focus {
    text-decoration: none;
}

button:focus, input:focus {outline:0;}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 36px;
}
h3 {
    color: #626262;
    font-size: 22px;
    font-weight: 500;
}

p {
    line-height: 1.9;
}