h2, a:focus {
    color:  #2D3645;
}

.top-header {
    background-color: #eeeeee;
    color: #848484;
    padding: 10px 0 10px;
}

.social-icons ul li a:hover {
	background-color: #2D3645;
} 

.social-icons.bottom ul li a {
	background-color: #1f2530;
}
.social-icons.bottom ul li a:hover {
    color: #1f2530;
}
.social-icons {
    text-align: right;
    
    width:30%;
    float:right;
    
}
.social-icons ul li a {
	display: block;
	width: 25px;
	height: 25px;
	color: #9a9a9a;
	border-radius: 50%;
	text-align: center;
	line-height: 27px;
    transition: .4s;
    -webkit-transition: .4s;
}
.social-icons ul li a:hover {
	color: #fff;
}

.social-icons.bottom ul li a {
	width: 35px;
	height: 35px;
	color: #eee;
	line-height: 38px;
	font-size: 18px;
}
.social-icons.bottom ul li a:hover {
	background-color: #fff;
}

.address-bar {
	background-color: #eee;
    margin-left: 104px;
    
    width:40%;
    
}
.address-bar ul li a {
	color: #9a9a9a;
	font-size: 14px;
}

.list-inline li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

