.dropup-mark {
  width: 15px;

  top: -20px;

  left: 45px;
  position: absolute;
   color:black;
}

.mark-wrap {
  width: 150px;
  
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-top: 15px solid gray;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  border-radius: 25px;
  z-index: 100;
}

.sidebar-nav{
    position: fixed;
    top:80px;
    left:5px;
    z-index: 100;
}

.dropup-mark-active{
  
 background-color: black;
 
  width:100%;

}


.dropup-active{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color:white;
  width:10px;
}